body {
	margin: 20px;
	background-color: #BDBAC9
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color:#BDBAC9;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .collapsible:hover {
color: #18020C
} */

/*all links black */
a {
	color: #18020C
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: ;
  font-size:25px
}

.card-block
{ display:inline-grid;
}

.resources .card-block 
/* only affects card block inside resources. Nesting */
{
 
 

}

.trusted .card-block{
/* only affects card block inside trusted. Nesting */
}

.resources .card
{
	height:503px;
width:300px; 
display: inline-flex;
margin:20px;
}

.resources .btn 
{ /* card links- space at bottom and sides */
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px:
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	filter:invert(100%)
}

.index .card
{
	height: 410px; 
	width: 100%
}

.trusted .card
{
	height: 200px; 
	width: 100%
}
